
<div class="col-md-12 col-lg-12">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-8 col-lg-8 text-center">
    <br><br>
    <em>Copyright @uxpablo 2017</em>

  </div>
  <div class="col-md-2 col-lg-2"></div>
</div>
